{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html class="h-full bg-gray-100" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% tailwind_css %}
    <script src="{% static 'dashboard/js/main.js' %}"></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <style type="text/tailwindcss">
      [x-cloak] {
        display: none !important;
      }
    </style>
    <title>BenLQ.inc Automation</title>
  </head>
  <body>
    <div id="content">
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>
