<!-- component -->
<div class="overflow-auto rounded-lg border border-gray-200 shadow-md m-5">
    <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
        <thead class="bg-gray-100">
            <tr>
                <th scope="col" class="px-6 py-4 font-medium text-gray-900">Catégorie</th>
                <th scope="col" class=" flex justify-end px-6 py-4 font-medium text-gray-900">Actions</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-100 border-t border-gray-100">
            <tr class="hover:bg-gray-50">
                <th class="flex gap-3 px-6 py-4 font-normal text-gray-900">
                    <div class="text-sm">
                        <div class="font-medium text-gray-700">Catégorie Une</div>
                    </div>
                </th>
                <td class="px-6 py-4">
                    <div class="flex justify-end gap-4">
                        <a  href="#">
                            {% include "core/partials/svgs/delete.html" %}
                        </a>
                        <a  href="#">
                            {% include "core/partials/svgs/edit.html" %}
                        </a>
                    </div>
                </td>
            </tr>
            <tr class="hover:bg-gray-50">
                <th class="flex gap-3 px-6 py-4 font-normal text-gray-900">
                    <div class="text-sm">
                        <div class="font-medium text-gray-700">Catégorie 2</div>
                    </div>
                </th>
                <td class="px-6 py-4">
                    <div class="flex justify-end gap-4">
                        <a  href="#">
                            {% include "core/partials/svgs/delete.html" %}
                            
                        </a>
                        <a  href="#">
                            {% include "core/partials/svgs/edit.html" %}
                        </a>
                    </div>
                </td>
            </tr>
            <tr class="hover:bg-gray-50">
                <th class="flex gap-3 px-6 py-4 font-normal text-gray-900">
                    <div class="text-sm">
                        <div class="font-medium text-gray-700">Catgégorie 3</div>
                    </div>
                </th>
                <td class="px-6 py-4">
                    <div class="flex justify-end gap-4">
                        <a  href="#">
                            {% include "core/partials/svgs/delete.html" %}
                            
                        </a>
                        <a  href="#">
                            
                            {% include "core/partials/svgs/edit.html" %}
                        </a>
                    </div>
                </td>
            </tr>
            <tr class="hover:bg-gray-50">
                <th class="flex gap-3 px-6 py-4 font-normal text-gray-900">
                    <div class="text-sm">
                        <div class="font-medium text-gray-700">Catégorie 4</div>
                    </div>
                </th>
                <td class="px-6 py-4">
                    <div class="flex justify-end gap-4">
                        <a  href="#">
                            {% include "core/partials/svgs/delete.html" %}
                            
                        </a>
                        <a  href="#">
                            
                            {% include "core/partials/svgs/edit.html" %}
                        </a>
                    </div>
                </td>
            </tr>
           
        </tbody>
    </table>
</div>
