<div class="m-5 border-2 py-2 bg-gray-100">
    <div class="flex items-center">
        <svg class="h-8 w-8"
             viewBox="0 0 24 24"
             fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <g id="SVGRepo_bgCarrier" stroke-width="0">
            </g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
            </g>
            <g id="SVGRepo_iconCarrier">
            <path d="M13 3H5V21H19V9M13 3H14L19 8V9M13 3V7C13 8 14 9 15 9H19" stroke="#c0bfbf" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
            </path>
            </g>
        </svg>
        <span class="ml-2 font-serif">DEVIS CLIENT</span>
        <span class="ml-2 font-serif">N# 025</span>
        <span class="ml-2 font-serif underline">Client X</span>
    </div>
    <div class="m-2 flex justify-between">
        <div class="m-2 flex items-center gap-2">
            <!-- This example requires Tailwind CSS v2.0+ -->
            <div>
                <div>
                    <button type="button"
                            class="inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100"
                            id="menu-button"
                            aria-expanded="true"
                            aria-haspopup="true">
                        Transformer
                        <!-- Heroicon name: mini/chevron-down -->
                        <svg class="-mr-1 ml-2 h-5 w-5"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 20"
                             fill="currentColor"
                             aria-hidden="true">
                            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                        </svg>
                    </button>
                </div>
            </div>
            <div>
                <div>
                    <button type="button"
                            class="inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100"
                            id="menu-button"
                            aria-expanded="true"
                            aria-haspopup="true">
                        Valider
                        <!-- Heroicon name: mini/chevron-down -->
                    </button>
                </div>
            </div>
            <div>
                <div>
                    <button type="button"
                            class="inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100"
                            id="menu-button"
                            aria-expanded="true"
                            aria-haspopup="true">
                        Vérouiller
                        <!-- Heroicon name: mini/chevron-down -->
                    </button>
                </div>
            </div>
        </div>
        <div class="m-2 flex items-center gap-2">
            <!-- This example requires Tailwind CSS v2.0+ -->
            <div>
                <div>
                    <button type="button"
                            class="inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100"
                            id="menu-button"
                            aria-expanded="true"
                            aria-haspopup="true">
                        Modifier
                        <!-- Heroicon name: mini/chevron-down -->
                        <svg class="-mr-1 ml-2 h-5 w-5"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 20"
                             fill="currentColor"
                             aria-hidden="true">
                            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                        </svg>
                    </button>
                </div>
            </div>
            <div>
                <div>
                    <button type="button"
                            class="inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100"
                            id="menu-button"
                            aria-expanded="true"
                            aria-haspopup="true">
                        Supprimer
                        <!-- Heroicon name: mini/chevron-down -->
                    </button>
                </div>
            </div>
            <div>
                <div>
                    <button type="button"
                            class="inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100"
                            id="menu-button"
                            aria-expanded="true"
                            aria-haspopup="true">
                        Envoyer par mail
                        <!-- Heroicon name: mini/chevron-down -->
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white shadow-xl m-2 p-2 ">
        <button class="bg-gray-400 m-2 py-1 px-4 font-bold text-white rounded-l-none rounded-md hover:bg-gray-500">
            DRAFT
        </button>
        <div class="border-t border-gray-200"></div>
        <div class="m-2 grid grid-cols-3 gap-2 p-2">
            <div class="col-span-1 flex flex-col divide-y-2 p-2 gap-2 border-b border-gray-200">
              <div class="pt-1 flex justify-between w-full">
                 <span>Statut</span>
                <button class="bg-blue-500 hover:bg-blue-600 rounded-lg px-2 py-1 text-xs text-white border-b border-gray-200">En Cours</button>
              </div>
              <div class="pt-1 flex justify-between w-full">
                 <span>Date</span>
                 <span class="">2024-03-10 à 20:30</span>
              </div>
              <div class="pt-1 flex justify-between w-full">
                 <span>Echeance</span>
                 <span class="">2024-03-10</span>
              </div>
              <div class="pt-1 flex justify-between w-full">
                 <span>Suivi Par</span>
                 <span class="">Colby Chaos Covington</span>
              </div>
              <div class="pt-1 flex justify-between w-full">
                 <span>Lié</span>
                 <button class="bg-yellow-400 text-yellow-800 py-1 rounded-md px-2 text-xs hover:bg-yellow-500 font-bold">Non</button>
              </div>
               <div class=" pt-2 flex  items-center justify-center">
                <button class="flex hover:underline decoration-blue-800" type="button">
                     <svg class="h-4 w-4" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" fill="#000000" stroke="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill="#3c7aaa" d="M832 512a32 32 0 1 1 64 0v352a32 32 0 0 1-32 32H160a32 32 0 0 1-32-32V160a32 32 0 0 1 32-32h352a32 32 0 0 1 0 64H192v640h640V512z"></path><path fill="#3c7aaa" d="m469.952 554.24 52.8-7.552L847.104 222.4a32 32 0 1 0-45.248-45.248L477.44 501.44l-7.552 52.8zm422.4-422.4a96 96 0 0 1 0 135.808l-331.84 331.84a32 32 0 0 1-18.112 9.088L436.8 623.68a32 32 0 0 1-36.224-36.224l15.104-105.6a32 32 0 0 1 9.024-18.112l331.904-331.84a96 96 0 0 1 135.744 0z"></path></g></svg>
                  <span class="text-xs text-[#3c7aaa] font-bold">Modifier les informations générales</span>
                </button>
               
              </div>
              
               
            </div>
            <div class="col-span-2 flex flex-col divide-y-2 p-2 gap-2 border-b border-gray-200">
              <div class="pt-1 flex  justify-between w-full">
                 <span class="text-gray-400">Adresse de livraison</span>
                 <span class="text-gray-400">Adresse de livraison</span>
                 
              </div>
                 <div class="pt-1 flex justify-between w-full">
                 <span class="text-gray-400">Moyen de paiement </span>
                 <span class="text-gray-400">Virement</span>
              </div>
              <div class="pt-1 flex justify-between w-full">
                 <span class="text-gray-400">Commission</span>
                 <span class="text-gray-400">0.00 %</span>
              </div>
              <div class="pt-1 flex justify-between w-full">
                 <span class="text-gray-400">Commercial</span>
                 <span class="text-gray-400">Aucun</span>
              </div>
              <div class="pt-1 flex justify-between w-full">
                 <span class="text-gray-400">Note</span>
                 <span class="text-gray-400">Aucun</span>
              </div>
              <div class=" pt-2 flex items-center justify-center">
                <button class="flex hover:underline decoration-blue-800" type="button">
                     <svg class="h-4 w-4" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" fill="#000000" stroke="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill="#3c7aaa" d="M832 512a32 32 0 1 1 64 0v352a32 32 0 0 1-32 32H160a32 32 0 0 1-32-32V160a32 32 0 0 1 32-32h352a32 32 0 0 1 0 64H192v640h640V512z"></path><path fill="#3c7aaa" d="m469.952 554.24 52.8-7.552L847.104 222.4a32 32 0 1 0-45.248-45.248L477.44 501.44l-7.552 52.8zm422.4-422.4a96 96 0 0 1 0 135.808l-331.84 331.84a32 32 0 0 1-18.112 9.088L436.8 623.68a32 32 0 0 1-36.224-36.224l15.104-105.6a32 32 0 0 1 9.024-18.112l331.904-331.84a96 96 0 0 1 135.744 0z"></path></g></svg>
                  <span class="text-xs text-[#3c7aaa] font-bold">Modifier les conditions de vente</span>
                </button>
               
              </div>
              
            </div>
           
            
        </div>
         <div class="flex justify-end gap-2">
               <button type="button"
                            class="group bg-green-400 inline-flex justify-center rounded-md px-3 py-2 text-sm font-medium hover:text-gray-700 shadow-sm hover:bg-green-500 text-white "
                            id="menu-button"
                            aria-expanded="true"
                            aria-haspopup="true">
                            <svg class="mr-1 h-5 w-5 stroke-white group-hover:stroke-gray-700" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="Edit / Add_Plus_Circle"> <path id="Vector" d="M8 12H12M12 12H16M12 12V16M12 12V8M12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21Z" stroke-width="2"  stroke-linecap="round" stroke-linejoin="round"></path> </g> </g></svg>
                        Ajouter
                        
                       
                    </button>
                     <button type="button"
                            class="inline-flex justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-100 focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-offset-gray-100"
                            id="menu-button"
                            aria-expanded="true"
                            aria-haspopup="true">
                        Importer
                        <!-- Heroicon name: mini/chevron-down -->
                        <svg class="-mr-1 ml-2 h-5 w-5"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 20"
                             fill="currentColor"
                             aria-hidden="true">
                            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                        </svg>
                    </button>
            </div>
        <div class="my-2 align-middle inline-block min-w-full shadow overflow-hidden bg-gradient-to-b from-cyan-200 to-white pt-1 rounded-bl-lg rounded-br-lg">
                    <table class="min-w-full">
                        <thead>
                            <tr>
                                <th class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-gray-500 tracking-wider">REF</th>
                                <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-gray-500 tracking-wider">Désignation</th>
                                <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-gray-500 tracking-wider">Qté</th>
                                <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-gray-500 tracking-wider">Prix HT</th>
                                <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-gray-500 tracking-wider">Prix TTC</th>
                                <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-gray-500 tracking-wider">Total HT</th>
                                <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-gray-500 tracking-wider">Total TTC</th>
                                <th class="px-6 py-3 border-b-2 border-gray-300"></th>
                            </tr>
                        </thead>
                        <tbody class="bg-white">
        
    </div>
</div>
